extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Nikane Mallea

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | I came sideways into software development, after being an IT Test Manager and IT Project Manager for digital agencies. I have worked on a number of accounts to help deliver world-class digital solutions to clients such as Land Rover - Jaguar, Glamour - Condé Nast and ProSieben, Sat1 Media SE. I have been working remotely in the IT sector for over 3 years. My experience is in an Agile working environment.



      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li HTML, CSS, JavaScript, SASS
          li Node.js, Express, Pug
          li Jira, GitLab, GitHub
          li Web Applications
        h6 Contact Info

        //- Add your own contact info
        ul
          li (34) 647 784 314
          li nikane@mac.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/nikanemallea/' target= "_blank") LinkedIn
        a.button.expanded(href='https://github.com/nmallea' target= "_blank") GitHub
        a.button.expanded(href='https://twitter.com/nikanemallea' target= "_blank") Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
