<!DOCTYPE html>
html(class="no-js" lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(href='https://fonts.googleapis.com/css?family=Space+Mono:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/public/css/foundation.css')
    link(rel='stylesheet', href='/public/css/style.css')
    link(rel='icon' href='/public/images/favicon4.ico' type='image/x-icon')
  body
    #my-info.off-canvas.position-left.reveal-for-large.portfolio-me(data-off-canvas='')
      .grid-y.grid-padding-x(style='height: 100%;')
        block sidebar
          br
          .cell.shrink
            img.thumbnail(src='/public/images/profile.jpeg')
          .cell.auto

            h5 Nikane Mallea

            //- adds short description
            p.text-light
              | Hi! I'm Nik, a full stack Javascript developer working remotely in Europe.


            //- about page route
            a(href='/about') Learn More →

    .off-canvas-content(data-off-canvas-content='')
      .title-bar.hide-for-large
        .title-bar-left
          button.menu-icon(type='button', data-toggle='my-info')

          //- adds name for the mobile screen sized versions
          span.title-bar-title Nikane Mallea
      block content



  script(src='/public/js/vendor/jquery.js')
  script(src='/public/js/vendor/what-input.js')
  script(src='/public/js/vendor/foundation.js')
  script(src='/public/js/scripts.js')
